name: CI/CD

on:
  push:
    branches: [main, develop]
    tags:
      - 'v*'
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

env:
  FLUTTER_VERSION: '3.38.5'

jobs:
  macos:
    name: macOS
    runs-on: macos-14
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: 'stable'
          cache: true

      - name: Install Fluttium
        run: |
          flutter pub global activate fluttium_cli
          export PATH="$PATH":"$HOME/.pub-cache/bin"

      - name: Enable macOS desktop
        run: flutter config --enable-macos-desktop

#      - name: Get dependencies
#        run: flutter pub get
#
#      - name: Build macOS app
#        run: flutter build macos --release

      - name: Run integration tests on macOS
        run: fluttium test fluttium/* -d macos
          --dart-define=API_BASE_URL=https://skipthebrowse-backend.onrender.com
          --dart-define=ENVIRONMENT=dev
